1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [21]:
#   a)
L=list(range(100))
for i in range(100): 
    n=i+1
    c=0
    if n%3==0 : #control multiples of 3
        c=c+3
    else:
        c=c
    if n%5==0 : #control multiples of 5
        c=c+5
    else:
        c=c

    if c==3:
        print("Mickey")
        L[i]="Dondald"
    elif c==5 :
        print("mouse")
        L[i]="duck"
    elif c==8 :
        print("Mickeymouse")
        L[i]="Dondalduck"
    else:
        print(n)
        L[i]=n

#   b)
T=tuple(L)
print(T)

1
2
Mickey
4
mouse
Mickey
7
8
Mickey
mouse
11
Mickey
13
14
Mickeymouse
16
17
Mickey
19
mouse
Mickey
22
23
Mickey
mouse
26
Mickey
28
29
Mickeymouse
31
32
Mickey
34
mouse
Mickey
37
38
Mickey
mouse
41
Mickey
43
44
Mickeymouse
46
47
Mickey
49
mouse
Mickey
52
53
Mickey
mouse
56
Mickey
58
59
Mickeymouse
61
62
Mickey
64
mouse
Mickey
67
68
Mickey
mouse
71
Mickey
73
74
Mickeymouse
76
77
Mickey
79
mouse
Mickey
82
83
Mickey
mouse
86
Mickey
88
89
Mickeymouse
91
92
Mickey
94
mouse
Mickey
97
98
Mickey
mouse
(1, 2, 'Dondald', 4, 'duck', 'Dondald', 7, 8, 'Dondald', 'duck', 11, 'Dondald', 13, 14, 'Dondalduck', 16, 17, 'Dondald', 19, 'duck', 'Dondald', 22, 23, 'Dondald', 'duck', 26, 'Dondald', 28, 29, 'Dondalduck', 31, 32, 'Dondald', 34, 'duck', 'Dondald', 37, 38, 'Dondald', 'duck', 41, 'Dondald', 43, 44, 'Dondalduck', 46, 47, 'Dondald', 49, 'duck', 'Dondald', 52, 53, 'Dondald', 'duck', 56, 'Dondald', 58, 59, 'Dondalduck', 61, 62, 'Dondald', 64, 'duck', 'Dondald', 67, 68, 'Dondald', 'duck', 71, 'Dondald', 73, 74, 'Dondalduck', 76, 77, 'Dondald', 79, 'duck', 'Dondald', 82, 83, 'Dondald', 'duck', 86, 'Dondald', 88, 89, 'Dondalduck', 91, 92, 'Dondald', 94, 'duck', 'Dondald', 97, 98, 'Dondald', 'duck')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [20]:
x=input("insert x value: ")
y=input("insert y value: ")
print("\nx: ", x, " y: ", y)

def swap(a, b):
    a,b=type(b)(b),type(a)(a)
    return a, b
x,y=swap(x,y)                       

print("after swapping...\nx: ", x, " y: ", y)

insert x value: ciao
insert y value: 123

x:  ciao  y:  123
after swapping...
x:  123  y:  ciao

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [19]:
x1=float(input("insert first point's coordinates \nx1: "))
y1=float(input("y1: "))
x2=float(input("x2: "))
y2=float(input("y2: "))

def euclidean_distance(x1, y1, x2, y2):
    d=((x2-x1)**2+(y2-y1)**2)**(1/2)
    return d

distance=euclidean_distance(x1, y1, x2, y2)
print("The euclidean distance is: ", distance)

insert first point's coordinates
x1: 1
y1: 5
x2: 2
y2: 4
The euclidean distance is:  1.4142135623730951

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [18]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"
#sprint(s)

letter=input("what letter do you want to find? ")
characters = [x for x in s.lower() if x==letter]
print("the letter", letter, "appears", len(characters), "times in the text")

what letter do you want to find? w
the letter w appears 2 times in the text

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [13]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]


def unique_numbers(List):
    uniques = list(0 for i in range(1,max(List)+1))
    for i in range (1,max(List)+1):    #reminder: range(start,end) ->ends in 'end'-1
        times = len([x for x in List if x==i])
        if times==1:
            uniques[i-1] = i
        else:
            uniques[i-1] = 0
    #print(uniques)
    only_uniques = [x for x in uniques if x!=0]
    #print(only_uniques)
    print("the unique numbers in the list are: ", len(only_uniques), "and them are...")
    print(only_uniques)

unique_numbers(l)

the unique numbers in the list are:  37 and them are...
[1, 5, 8, 9, 10, 16, 18, 19, 24, 30, 33, 37, 39, 41, 47, 53, 54, 55, 57, 58, 64, 72, 74, 75, 79, 81, 82, 86, 87, 88, 90, 92, 94, 95, 96, 98, 99]

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [14]:
x=float(input("insert a value: "))

def square(a):
    s=1
    s=pow(a,2)
    return s

def cube(a):
    c=1
    c=pow(a,3)
    return c

print("the square of the value is: ", square(x))
print("the cube of the value is: ", cube(x))

def comb_func(a):
    P=square(cube(a))
    return P

print("the 6th power of the value is: ", comb_func(x))

insert a value: 3
the square of the value is:  9.0
the cube of the value is:  27.0
the 6th power of the value is:  729.0

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [15]:
#   a) using for...
L1=list(0 for i in range(11)) #i used 11 cause exercise ask for a list from 0 to 10
for i in range (0,11):
    L1[i]=i**3
#   b) using list comprehension...
L2 = [x**3 for x in range(0,11)]

print(L1)
print(L2)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [16]:
pitagorian=list()
#a=b=c = list(x for x in range(1,101))
for a in range(1,101):
    for b in range(1,101):
        for c in range(1,101):
            if (a**2)+(b**2)==(c**2):
                pitagorian.append([a,b,c])
print(pitagorian)

[[3, 4, 5], [4, 3, 5], [5, 12, 13], [6, 8, 10], [7, 24, 25], [8, 6, 10], [8, 15, 17], [9, 12, 15], [9, 40, 41], [10, 24, 26], [11, 60, 61], [12, 5, 13], [12, 9, 15], [12, 16, 20], [12, 35, 37], [13, 84, 85], [14, 48, 50], [15, 8, 17], [15, 20, 25], [15, 36, 39], [16, 12, 20], [16, 30, 34], [16, 63, 65], [18, 24, 30], [18, 80, 82], [20, 15, 25], [20, 21, 29], [20, 48, 52], [21, 20, 29], [21, 28, 35], [21, 72, 75], [24, 7, 25], [24, 10, 26], [24, 18, 30], [24, 32, 40], [24, 45, 51], [24, 70, 74], [25, 60, 65], [27, 36, 45], [28, 21, 35], [28, 45, 53], [28, 96, 100], [30, 16, 34], [30, 40, 50], [30, 72, 78], [32, 24, 40], [32, 60, 68], [33, 44, 55], [33, 56, 65], [35, 12, 37], [35, 84, 91], [36, 15, 39], [36, 27, 45], [36, 48, 60], [36, 77, 85], [39, 52, 65], [39, 80, 89], [40, 9, 41], [40, 30, 50], [40, 42, 58], [40, 75, 85], [42, 40, 58], [42, 56, 70], [44, 33, 55], [45, 24, 51], [45, 28, 53], [45, 60, 75], [48, 14, 50], [48, 20, 52], [48, 36, 60], [48, 55, 73], [48, 64, 80], [51, 68, 85], [52, 39, 65], [54, 72, 90], [55, 48, 73], [56, 33, 65], [56, 42, 70], [57, 76, 95], [60, 11, 61], [60, 25, 65], [60, 32, 68], [60, 45, 75], [60, 63, 87], [60, 80, 100], [63, 16, 65], [63, 60, 87], [64, 48, 80], [65, 72, 97], [68, 51, 85], [70, 24, 74], [72, 21, 75], [72, 30, 78], [72, 54, 90], [72, 65, 97], [75, 40, 85], [76, 57, 95], [77, 36, 85], [80, 18, 82], [80, 39, 89], [80, 60, 100], [84, 13, 85], [84, 35, 91], [96, 28, 100]]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [17]:
tuple_numbers = (22,34,45,78,67,64,98,45,67,91)
list_norm = [(x-min(tuple_numbers))/(max(tuple_numbers)-min(tuple_numbers)) for x in tuple_numbers]
tuple_norm = tuple(list_norm)
print(tuple_norm)

(0.0, 0.15789473684210525, 0.3026315789473684, 0.7368421052631579, 0.5921052631578947, 0.5526315789473685, 1.0, 0.3026315789473684, 0.5921052631578947, 0.9078947368421053)